body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #282A2C;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

svg {
    width: 500px;
    align-self: center;
    justify-self: center;
    margin-left: -100px;
    margin: auto;

}

svg:hover #Layer_2 {
    animation-duration: 1.2s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* mix-blend-mode: overlay; */
}

#Layer_2{
    opacity: 0;
}

@keyframes animateLogo {
    from {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    to {
        transform: translateX(60px) translateY(-60px);
        opacity: 1;

    }
}